@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  font-family: 'Roboto', sans-serif;
}


.header-dropdown {
  display: none;
}

.header-dropdown-hover:hover .header-dropdown {
  display: block;
}
